@model OnlineExaminationSystem.Models.AdminQuestionViewModel

@{
    ViewBag.Title = "Add Question";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-bottom:20px;">Add Question</h2>

@using (Html.BeginForm("Create", "AdminQuestion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div style="margin-bottom:16px;">
        <label>Technology</label><br />
        @Html.DropDownListFor(m => m.Technology,
            new SelectList(new[] { "Java", "Python", "C#" }),
            "-- Select Technology --",
            new { style = "width:300px; height:36px;" })
        @Html.ValidationMessageFor(m => m.Technology, "", new { @class = "text-danger" })
    </div>

    <div style="margin-bottom:16px;">
        <label>Level</label><br />
        @Html.DropDownListFor(m => m.Level,
            new SelectList(new[] { "Easy", "Medium", "Hard" }),
            "-- Select Level --",
            new { style = "width:300px; height:36px;" })
        @Html.ValidationMessageFor(m => m.Level, "", new { @class = "text-danger" })
    </div>

    <div style="margin-bottom:16px;">
        <label>Question</label><br />
        @Html.TextAreaFor(m => m.QuestionText,
            new { style = "width:500px; height:70px;" })
        @Html.ValidationMessageFor(m => m.QuestionText, "", new { @class = "text-danger" })
    </div>

    <div style="margin-bottom:16px;">
        <label>Option A</label><br />
        @Html.TextBoxFor(m => m.OptionA, new { style = "width:400px; height:36px;" })
        @Html.ValidationMessageFor(m => m.OptionA, "", new { @class = "text-danger" })
    </div>

    <div style="margin-bottom:16px;">
        <label>Option B</label><br />
        @Html.TextBoxFor(m => m.OptionB, new { style = "width:400px; height:36px;" })
        @Html.ValidationMessageFor(m => m.OptionB, "", new { @class = "text-danger" })
    </div>

    <div style="margin-bottom:16px;">
        <label>Option C</label><br />
        @Html.TextBoxFor(m => m.OptionC, new { style = "width:400px; height:36px;" })
        @Html.ValidationMessageFor(m => m.OptionC, "", new { @class = "text-danger" })
    </div>

    <div style="margin-bottom:16px;">
        <label>Option D</label><br />
        @Html.TextBoxFor(m => m.OptionD, new { style = "width:400px; height:36px;" })
        @Html.ValidationMessageFor(m => m.OptionD, "", new { @class = "text-danger" })
    </div>

    <div style="margin-bottom:22px;">
        <label>Correct Answer</label><br />
        @Html.DropDownListFor(m => m.CorrectAnswer,
            new SelectList(new[] { "A", "B", "C", "D" }),
            "-- Select --",
            new { style = "width:120px; height:36px;" })
        @Html.ValidationMessageFor(m => m.CorrectAnswer, "", new { @class = "text-danger" })
    </div>

    <div style="margin-bottom:22px;">
        <label>Upload Question File</label><br />
        @Html.TextBoxFor(m => m.QuestionFile, new { type = "file" })
    </div>


    <button type="submit"
            style="padding:10px 22px; font-size:15px; background-color:#1abc9c; color:white; border:none; border-radius:5px;">
        Save Question
    </button>

    <a href="/AdminQuestion/Index" style="margin-left:12px;">Cancel</a>
}
