@model List<OnlineExaminationSystem.Models.AdminExamResultViewModel>

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Exam Results</h2>

<table border="1" cellpadding="10" cellspacing="0" style="width:100%;">
    <thead style="background:#2c3e50;color:white;">
        <tr>
            <th>Student Name</th>
            <th>Exam Name</th>
            <th>Technology</th>
            <th>Level</th>
            <th>Marks</th>
            <th>Status</th>
            <th>Date Taken</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StudentName</td>
                <td>@item.ExamName</td>
                <td>@item.Technology</td>
                <td>@item.Level</td>
                <td>@item.Marks</td>
                <td style="color:@(item.Status == "Pass" ? "green" : "red")">
                    @item.Status
                </td>
                <td>@item.DateTaken</td>
            </tr>
        }
    </tbody>

</table>
